# App Configuration
NODE_ENV=
APP_PORT=3000

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_DB=your_postgres_database

# pgAdmin
PGADMIN_EMAIL=your_admin_email@example.com
PGADMIN_PASSWORD=your_pgadmin_password
PGADMIN_PORT=8080

#JWT
JWT_TOKEN_SECRET=some-secret-string-value
JWT_TOKEN_EXPIRESIN=3600
JWT_REFRESH_TOKEN_EXPIRESIN=86400
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000

# Redis
REDIS_HOST=redis-stack
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001
REDIS_URL=redis://localhost:6379

# AWS
AWS_REGION=us-east-2
S3_BUCKET=meu-bucket
LAMBDA_API_URL=https://fake-lambda.local/api
LAMBDA_API_KEY=fake-lambda-key
LAMBDA_TIMEOUT_MS=5000